body{
    background-image: url(images/reminder2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif;
}

.search-task{
    display: inline;
    float: inline-end;
    margin-right: 4rem;
}

input{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    font-size: 16px;
    height: 30px;
    outline: none;
    width: 15rem;
    margin: 1rem 0rem 2rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

button{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin: 1rem 0rem;
    width: 7rem;
}

button:hover{
    cursor: pointer;
}

h1{
    color: red;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    display: inline;
}

/* .view-task{
    overflow-x: auto;
    color: antiquewhite;
    margin: 2rem;
    font-size: 16px;
    background: rgb(0, 0, 0, 0.7);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 70%;
    border-spacing: 0;
} */

.table_view{
    overflow-x:auto;
    position: absolute;
    color: antiquewhite;
    background: rgb(0, 0, 0, 0.7);
    top: 20%;
    width: 100%;
}

.table_view table{
    border-spacing: 0px;
}


table.table_view tbody, table.table_view thead {
    display: block;
} 
    
thead{
	background-color:#0a89f4;
}

thead tr th {
    height: 4rem; 
    line-height: 40px;
}
  
table.table_view tbody {
    height: 36rem;
    overflow-y: auto;
    overflow-x: hidden; 
}
  
tbody { 
    border-top: 2px solid black;
}
  
th {
    width: 15rem;    
   
}
td {
    text-align:center;
    border-bottom: 2px solid black;
    width: 15rem;
    height: 4rem;
}
.pop-up::before{
    width: 100%;
    height: 100%;
    filter: blur(8px);
    z-index: -1;
}
.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, -50%);
    background-color: rgb(183, 179, 179);
    padding: 50px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 1;
}

.pop-up form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.pop-up input{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    font-size: 16px;
    height: 30px;
    width: inherit;
    outline: none;
    margin: 1rem 0rem 2rem;
}

.pop-up option[id="repeat"]{
    display: none;
}